:root {
  --main: rgb(153, 0, 224);
  --main-lighter: rgb(172, 85, 227);
  --white: rgb(247, 240, 250);
  --black: rgb(111, 0, 180);

  --p-size: 16px;
  --h2-size: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
